<html>
  <head>
  </head>
  <body>
    <h1>Hello, World</h1>
    <h2>This is a Sinatra app</h2>
    <script type="text/x-handlebars" data-template-name="application">
      <h3>Ember Committers</h3>
      {{outlet}}
    </script>

    <script type="text/x-handlebars" data-template-name="contributors">
      {{#each person in controller}}
      <a {{action showContributer person}}> {{person.login}} </a>
      {{/each}}
    </script>

    <script type="text/x-handlebars" data-template-name="a-contributor">
      <div>
        <a {{action showAllContributors}}> All Contributors </a>
      </div>
      {{login}} - {{contributions}} contributions to Ember.js
    </script>

    <!-- Required JS  -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.rc.1/handlebars.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ember.js/1.0.0-pre.2/ember-1.0.0-pre.2.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
